<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0"
        />
        <link
            rel="stylesheet"
            href="/stylesheets/index.css"
        />
        <link
            rel="stylesheet"
            href="/stylesheets/variables.css"
        />
        <link
            rel="stylesheet"
            href="/stylesheets/vertical-navbar.css"
        />
        <link
            rel="stylesheet"
            href="/stylesheets/horizontal-navbar.css"
        />
        <link
            rel="stylesheet"
            href="/stylesheets/reusable-components.css"
        />
        <link
            rel="stylesheet"
            href="/stylesheets/file-details.css"
        />
        <link
            rel="stylesheet"
            href="/stylesheets/errors.css"
        />
        <link
            rel="stylesheet"
            href="/stylesheets/footer.css"
        />
        <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
        />
        <title>File Detail | File Uploader</title>
        <script defer src="/javascript/file-details.js"></script>
        <script defer src="/javascript/noTranslateGoogleIcons.js"></script>
        <link rel="icon" type="image/png" href="/icons/favicon-32x32.png" sizes="32x32" />
        <link rel="icon" type="image/png" href="/icons/favicon-16x16.png" sizes="16x16" />
    </head>
    <body>
        <%- include("../partials/vertical-navbar.ejs") %>
        <main class="file-details">
            <%- include ("../partials/horizontal-navbar.ejs") %>
            <%- include("../partials/errors.ejs", {errors: locals.validationErrors}) %>
            <dialog class="dialog delete-file-dialog">
                <form
                    class="form delete-file-form"
                    action="/my-storage/delete-file/<%= file.id %>"
                    method="POST"
                >
                    <h2>
                        Delete File
                    </h2>
                    <p>Are you sure you want to delete this file?</p>
                    <span class="warning-message">This can't be undone.</span>
                    <div class="buttons-container">
                        <button 
                            class="button" 
                            type="submit"
                        >
                            Confirm
                        </button>
                        <button 
                            class="button cancel-file-delete" 
                            type="button"
                        >
                            Cancel
                        </button>
                    </div>
                </form>
            </dialog>
            <dialog class="dialog update-file-dialog">
                <form 
                    class="form update-file-form"
                    action="/my-storage/update-file/<%= file.id %>"
                    method="POST"
                >
                    <h2>
                        Update File
                    </h2>
                    <div class="input-field">
                        <label for="updated-filename">
                            Updated filename
                        </label>
                        <div class="icon-and-input">
                            <div class="icon">
                                <span class="material-symbols-rounded">
                                    edit
                                </span>
                            </div>
                            <input 
                                class="input"
                                type="text"
                                name="updatedFilename"
                                id="updated-filename"
                                value="<%= file.name %>"
                                placeholder="<%= file.name %>"
                            >
                        </div>
                    </div>
                    <div class="buttons-container">
                        <button 
                            class="button update-file-button" 
                            type="submit"
                            disabled
                        >
                            Update
                        </button>
                        <button 
                            class="button cancel-file-update" 
                            type="button"
                        >
                            Cancel
                        </button>
                    </div>
                </form>
            </dialog>
            <div class="content">
                <div class="top-wrapper">
                    <div class="icon">
                        <span class="material-symbols-rounded">
                            description
                        </span>
                    </div>
                    <div class="name-and-details">
                        <div class="name-and-buttons">
                            <h2>
                                <%= file.name %>
                            </h2>
                            <div class="buttons">
                                <button 
                                    title="Edit filename" 
                                    class="button show-update-dialog"
                                >
                                    <span class="material-symbols-rounded">
                                        edit
                                    </span>
                                </button>
                                <a 
                                    title="Download file"
                                    href="<%= file.cloudinary_url %>" 
                                    class="button"
                                >
                                    <span class="material-symbols-rounded">
                                        cloud_download
                                    </span>
                                </a>
                                <button 
                                    title="Delete file" 
                                    class="button delete-file"
                                >
                                    <span class="material-symbols-rounded">
                                        delete
                                    </span>
                                </button>
                            </div>
                        </div>
                        <div class="details">
                            <div class="detail">
                                <span class="material-symbols-rounded">
                                    abc
                                </span>
                                <div class="vertical-separator"></div>
                                <span class="text-wrapper">
                                    Mimetype:
                                </span>
                                <p>
                                    <%= file.mimetype %>
                                </p>
                            </div>
                            <div class="horizontal-separator"></div>
                            <div class="detail">
                                <span class="material-symbols-rounded">
                                    history
                                </span>
                                <div class="vertical-separator"></div>
                                <span class="text-wrapper">
                                    Uploaded at:
                                </span>
                                <p>
                                    <%= file.uploadedAt %>
                                </p>
                            </div>
                            <% if(file.uploadedAt !== file.updatedAt) { %>
                                <div class="horizontal-separator"></div>
                                <div class="detail">
                                    <span class="material-symbols-rounded">
                                        update
                                    </span>
                                    <div class="vertical-separator"></div>
                                    <span class="text-wrapper">
                                        Updated at:
                                    </span>
                                    <p>
                                        <%= file.updatedAt %>
                                    </p>
                                </div>
                            <% } %>
                            <div class="horizontal-separator"></div>
                            <div class="detail">
                                <span class="material-symbols-rounded">
                                    weight
                                </span>
                                <div class="vertical-separator"></div>
                                <span class="text-wrapper">
                                    Size:
                                </span>
                                <p>
                                    <%= file.size %>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <%- include("../partials/footer.ejs") %>
        </main>
    </body>
</html>
