<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0"
        />
        <title>Folder Details | File Uploader</title>
        <link
            rel="stylesheet"
            href="/stylesheets/index.css"
        />
        <link
            rel="stylesheet"
            href="/stylesheets/variables.css"
        />
        <link
            rel="stylesheet"
            href="/stylesheets/file-details.css"
        />
        <link
            rel="stylesheet"
            href="/stylesheets/vertical-navbar.css"
        />
        <link
            rel="stylesheet"
            href="/stylesheets/horizontal-navbar.css"
        />
        <link
            rel="stylesheet"
            href="/stylesheets/reusable-components.css"
        />
        <link
            rel="stylesheet"
            href="/stylesheets/errors.css"
        />
        <link 
            rel="stylesheet" 
            href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" 
        />
        <script defer src="/javascript/folder-details/delete-folder.js"></script>
        <script defer src="/javascript/folder-details/update-folder.js"></script>
        <link rel="icon" type="image/png" href="/icons/favicon-32x32.png" sizes="32x32" />
        <link rel="icon" type="image/png" href="/icons/favicon-16x16.png" sizes="16x16" />
    </head>
    <body>
        <%- include("../partials/vertical-navbar.ejs") %>
        <main class="folder-details">
            <%- include("../partials/horizontal-navbar.ejs") %>
            <%- include("../partials/errors.ejs", { errors: locals.validationErrors })  %>
            <dialog class="dialog update-folder-dialog">
                <form 
                    action="/my-storage/update-folder/<%= folder.name %>"
                    method="POST"
                    class="form update-folder-form"
                >
                    <div class="input-field">
                        <label for="updatedFolderName">
                            Update folder name
                        </label>
                        <div class="icon-and-input">
                            <div class="icon">
                                <span class="material-symbols-rounded">
                                    edit
                                </span>
                            </div>
                            <input 
                                class="input"
                                type="text"
                                name="updatedFolderName"
                                id="updatedFolderName"
                                value="<%= folder.name %>"
                                placeholder="<%= folder.name %>"
                            >
                        </div>
                    </div>
                    <div class="buttons-container">
                        <button 
                            class="button update-folder"
                            type="submit"
                            disabled
                        >
                            Update
                        </button>
                        <button 
                            class="button cancel-folder-update"
                            type="button"
                        >
                            Cancel
                        </button>
                    </div>
                </form>
            </dialog>
            <dialog class="dialog delete-folder-dialog">
                <form 
                    action="/my-storage/delete-folder/<%= folder.name %>" 
                    method="POST" 
                    class="form delete-folder-form"
                >
                    <p>
                        Delete "<%= folder.name %>" folder? (All files inside this folder will be deleted too.)
                    </p>
                    <span class="warning-message">
                        (This can't be undone)
                    </span>
                    <div class="buttons-container">
                        <button 
                            class="button" 
                            type="submit"
                        >
                            Delete
                        </button>
                        <button 
                            class="button cancel-folder-delete" 
                            type="button"
                        >
                            Cancel
                        </button>
                    </div>
                </form>
            </dialog>
            <div class="content">
                <div class="top-wrapper">
                    <div class="icon">
                        <span class="material-symbols-rounded">
                            folder
                        </span>
                    </div>
                    <div class="name-and-details">
                        <div class="name-and-buttons">
                            <h2>
                                <%= folder.name %>
                            </h2>
                            <div class="buttons">
                                <button class="button show-update-dialog">
                                    <span class="material-symbols-rounded">
                                        edit
                                    </span>
                                </button>
                                <button class="button delete-folder">
                                    <span class="material-symbols-rounded">
                                        delete
                                    </span>
                                </button>
                            </div>
                        </div>
                        <div class="details">
                            <div class="detail">
                                <span class="material-symbols-rounded">
                                    history
                                </span>
                                <div class="vertical-separator"></div>
                                <span class="text-wrapper">
                                    Created at:
                                </span>
                                <p>
                                    <%= folder.createdAt %>
                                </p>
                            </div>
                            <% if(folder.createdAt !== folder.updatedAt) { %>
                                <div class="horizontal-separator"></div>
                                <div class="detail">
                                    <span class="material-symbols-rounded">
                                        update
                                    </span>
                                    <div class="vertical-separator"></div>
                                    <span class="text-wrapper">
                                        Updated at:
                                    </span>
                                    <p>
                                        <%= folder.updatedAt %>
                                    </p>
                                </div>
                            <% } %>
                            <div class="horizontal-separator"></div>
                            <div class="detail">
                                <span class="material-symbols-rounded">
                                    files
                                </span>
                                <div class="vertical-separator"></div>
                                <span class="text-wrapper">
                                    Files in folder:
                                </span>
                                <p>
                                    <%= folder.files.length %> <%= folder.files.length === 1 ? 'file' : 'files' %>.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <%- include("../partials/my-storage-files.ejs", {files: locals.folder.files, filesInFolder:true}) %>
            </div>
        </main>
    </body>
</html>
