<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0"
        />
        <title>Login | File Uploader</title>
        <link rel="stylesheet" href="/stylesheets/errors.css">
        <link rel="stylesheet" href="/stylesheets/index.css">
        <link rel="stylesheet" href="/stylesheets/login.css">
        <link rel="stylesheet" href="/stylesheets/variables.css">
        <link rel="stylesheet" href="/stylesheets/footer.css">
        <link rel="stylesheet" href="/stylesheets/vertical-navbar.css">
        <link rel="stylesheet" href="/stylesheets/horizontal-navbar.css">
        <link rel="icon" type="image/png" href="/icons/favicon-32x32.png" sizes="32x32" />
        <link rel="icon" type="image/png" href="/icons/favicon-16x16.png" sizes="16x16" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
        <script defer src="/javascript/noTranslateGoogleIcons.js"></script>
        <script defer src="/javascript/togglePasswordVisibility.js"></script>
    </head>
    <body>
        <%- include("../partials/vertical-navbar.ejs") %>
        <main class="login">
            <%- include("../partials/horizontal-navbar.ejs") %>
            <%- include("../partials/errors.ejs", {errors: locals.validationErrors}) %>
            <div class="content">
                    <form
                        action="/login"
                        method="POST"
                        class="login-form"
                    >
                        <h1>Log In</h1>
                        <h2>
                            Enter your username and password to login to your account.
                        </h2>
                        <% if(locals.username) { %>
                            <p>
                                Please login <%= username %>
                            </p>
                        <% } %>
                        <div class="input-field">
                            <label 
                                class="label" 
                                for="username"
                            >
                                Username
                            </label>
                            <div class="icon-and-input">
                                <label for="username">
                                    <div class="icon">
                                        <span class="material-symbols-rounded">
                                            face
                                        </span>
                                    </div>
                                </label>
                                <input 
                                    class="input"
                                    type="text"
                                    name="username"
                                    id="username"
                                >
                            </div>
                        </div>
                        <div class="input-field">
                            <label 
                                class="label" 
                                for="password"
                            >
                                Password
                            </label>
                            <div class="icon-and-input">
                                <label for="password">
                                    <div class="icon">
                                        <span class="material-symbols-rounded">
                                            key
                                        </span>
                                    </div>
                                </label>
                                <input 
                                    class="input"
                                    type="password"
                                    name="password"
                                    id="password"
                                >
                                <div class="icon show-password-icon">
                                    <button 
                                        type="button" 
                                        class="button toggle-password-visibility"
                                    >
                                        <span class="material-symbols-rounded">
                                            visibility_off
                                        </span>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <button 
                            class="button" 
                            type="submit"
                        >
                            Log In
                        </button>
                        <div class="register-message">
                            <p>
                                You don't have an account yet? <a href="/register">Sign up!</a>
                            </p>
                        </div>
                    </form>
            </div>
            <%- include("../partials/footer.ejs") %>
        </main>
    </body>
</html>
