<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0"
        />
        <title>My Storage | File Uploader</title>
        <link
            rel="stylesheet"
            href="/stylesheets/index.css"
        />
        <link rel="stylesheet" href="/stylesheets/my-storage.css">
        <link rel="stylesheet" href="/stylesheets/variables.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
        <script defer src="/javascript/my-storage.js"></script>
    </head>
    <body>
        <%- include("../partials/navbar.ejs") %>
        <%- include("../partials/sidebar.ejs") %>
        <main class="my-storage">
            <%- include("../partials/my-storage-header.ejs", {userFolder: locals.userFolder}) %>
            <%- include("../partials/my-storage-files.ejs", {userFolder: locals.userFolder}) %>
            <%- include("../partials/my-storage-folders.ejs", {userFolder: locals.userFolder}) %>
        </main>
    </body>
</html>
