<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="author" content="Ignacio Gandur">
        <meta name="description" content="File Uploader App">
        <meta name="keywords" content="file, files, folder, folders, uploader, storage, cloud">
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0"
        />
        <title>Register | File Uploader</title>
        <link
            rel="stylesheet"
            href="/stylesheets/index.css"
        />
        <link
            rel="stylesheet"
            href="/stylesheets/variables.css"
        />
        <link
            rel="stylesheet"
            href="/stylesheets/reusable-components.css"
        />
        <link
            rel="stylesheet"
            href="/stylesheets/register.css"
        />
        <link
            rel="stylesheet"
            href="/stylesheets/errors.css"
        />
        <link
            rel="stylesheet"
            href="/stylesheets/vertical-navbar.css"
        />
        <link
            rel="stylesheet"
            href="/stylesheets/horizontal-navbar.css"
        />
        <link
            rel="stylesheet"
            href="/stylesheets/footer.css"
        />
        <link rel="icon" type="image/png" href="/icons/favicon-32x32.png" sizes="32x32" />
        <link rel="icon"type="image/png" href="/icons/favicon-16x16.png" sizes="16x16" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
        <script defer src="/javascript/noTranslateGoogleIcons.js"></script>
        <script defer src="/javascript/togglePasswordVisibility.js"></script>
        <script defer src="/javascript/toggleMobileNavbar.js"></script>
    </head>
    <body>
        <%- include("../partials/vertical-navbar.ejs") %>
        <main class="register">
            <%- include("../partials/horizontal-navbar.ejs") %>
            <%- include("../partials/errors.ejs", {errors: locals.validationErrors}) %>
            <div class="content">
                <div class="wrapper">
                    <h1 class="title">Create an account</h1>
                    <h2 class="sub-title">Enter a username and a password to create an account.</h2>
                    <form
                        class="register-form"
                        action="/register"
                        method="POST"
                    >
                        <div class="input-field">
                            <label class="label" for="username">
                                Username 
                                <span class="detail">
                                    (30 characters max. Only letters, numbers and hyphens.)
                                </span>
                            </label>
                            <div class="icon-and-input">
                                <label for="username">
                                    <div class="icon">
                                        <span class="material-symbols-rounded">
                                            face
                                        </span>
                                    </div>
                                </label>
                                <input 
                                    class="input"
                                    type="text"
                                    name="username"
                                    id="username"
                                    placeholder="John_Doe"
                                    value="<%= locals.userInputs ? userInputs.username : '' %>"
                                    minlength="1"
                                    maxlength="30"
                                    required
                                >
                            </div>
                        </div>
                        <div class="input-field">
                            <label for="password" class="label">
                                Password
                            </label>
                            <div class="icon-and-input">
                                <label for="password">
                                    <div class="icon">
                                        <span class="material-symbols-rounded">
                                            lock
                                        </span>
                                    </div>
                                </label>
                                <input
                                    class="input"
                                    type="password"
                                    name="password"
                                    id="password"
                                    placeholder="*********"
                                    minlength="1"
                                    value="<%= locals.userInputs ? userInputs.password : '' %>"
                                    required
                                />
                                <div class="icon show-password-icon">
                                    <button 
                                        type="button" 
                                        class="button toggle-password-visibility"
                                    >
                                        <span class="material-symbols-rounded">
                                            visibility_off
                                        </span>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="input-field">
                            <label for="confirm-password" class="label">
                                Repeat password
                            </label>
                            <div class="icon-and-input">
                                <label for="confirm-password">
                                    <div class="icon">
                                        <span class="material-symbols-rounded">
                                            lock_reset
                                        </span>
                                    </div>
                                </label>
                                <input
                                    class="input"
                                    type="password"
                                    name="confirmPassword"
                                    id="confirm-password"
                                    placeholder="*********"
                                    minlength="1"
                                    value="<%= locals.userInputs ? userInputs.confirmPassword : '' %>"
                                    required
                                />
                                <div class="icon show-password-icon">
                                    <button 
                                        type="button" 
                                        class="button toggle-password-visibility"
                                    >
                                        <span class="material-symbols-rounded">
                                            visibility_off
                                        </span>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <button 
                            class="button" 
                            type="submit"
                        >
                            Register
                        </button>
                    </form>
                    <div class="separator-message">
                        <div class="line"></div>
                        <div class="message">
                            OR LOGIN IF YOU HAVE AN ACCOUNT
                        </div>
                    </div>
                    <a 
                        class="button login" 
                        href="/login"
                    >
                        Log In
                    </a>
                </div>
            </div>
            <%- include("../partials/footer.ejs") %>
        </main>
    </body>
</html>
